@media (max-width: 1212px){
    #wrap{
        
        width: 1000px;
        /*height: 450px;   */
        
    }
    .imagen{
        
        width:510px;
        /*height:450px;*/
    }
    #main-info h1{
        margin: 61px 583px 24px 78px;
        font-size: 33px;
       
        }
        
        #main-info p{
            font-size: 13px;
            margin: 44px 593px 55px 82px;
          
        }
        
        #second-info h5 {
            margin: 15px -46px 50px -51px;
            font-size: 22px;
        
        }  
        
}    

@media (max-width:1082px){
        #wrap{
            width: 800px;
            height: 333px;
            
        }
        .imagen{
            
            width: 400px;
            height: 334px;

        }
        #main-info h1{
        margin: 38px 454px 35px 69px;
        font-size: 24px;
           
        }
            
        #main-info p{
            font-size: 11px;
            margin: 25px 477px 37px 63px;
              
        }
            
        #second-info h5 {
    
            margin: -14px -46px 50px -51px;
            font-size: 20px;
            
        } 
        #second-info span{
            font-size: 10px;
        } 
            
    
}

@media(max-width:882px){
        .imagen{
           
            width: 450px;
            height: 323px;
            border-radius: 10px 10px 0px 0px;
            float: none;
           background-color:hsl(277, 64%, 61%) ;
        }
        
        #wrap{
            margin-top: 18px;
            float: none;
            width: 450px;
            height:780px;
            border-radius: 0px 0px 10px 10px; 
    
        }
        #main-info h1{
            margin: 48px 43px 18px 39px;
            font-size: 32px;
            word-spacing: 5px;
            text-align: center;
            letter-spacing: 1px;
                
        }
        #main-info p{
            font-size: 15px;
            margin: 41px 27px 33px 36px;
            line-height: 29px;
            text-align: center;
            font-weight: lighter;
        }
        #second-info{
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
            
        }
        #second-info h5{
            display: block;
                margin:-3px;
                text-align: center;
                font-size: 27px;
                margin-bottom: 10px;
                margin-top: 33px;
                line-height: 1;
        }
        #second-info h5 span{
            font-size: 12px;
            margin-left: 4px;
            margin-top: 12px;
            letter-spacing: 1.2px;
        }
    


}
@media (max-width: 450px){
    .imagen{
        
        width: 330px;
        height: 240px;
       /* border-radius: 10px 10px 0px 0px;*/
        /*float: none;
       background-color:hsl(277, 64%, 61%) ;*/
    }
    
    #wrap{
        margin-top: 18px;
        /*float: none;*/
        width: 330px;
        height:780px;
        /*border-radius: 0px 0px 10px 10px; */

    }
    #main-info h1{
        margin:34px 43px 18px 39px;
        font-size: 28px;
        /*word-spacing: 5px;
        text-align: center;
        letter-spacing: 1px;*/
            
        }
        #main-info p{
            font-size: 14px;
            margin: 13px 24px 9px 30px;
            /*line-height: 23px;
            text-align: center;
            font-weight: lighter;*/
        }
        #second-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }
        #second-info h5{
            margin:20px;
            /*text-align: center;*/
            font-size: 23px;
            margin-bottom: 10px;
            margin-top: 26px;
            /*line-height: 1;*/
        }
        #second-info h5 span{
            font-size: 11px;
        margin-left: 116px;
        margin-top: 12px;
        /*letter-spacing: 1.2px;*/
        }

}