*{
    margin: 0px;
    padding: 0px;
}
@font-face {
        font-family: 'Inter';
        src: url('fonts/static/Inter-Regular.ttf');
}
@font-face {
    font-family: 'LexendDeca';
    src: url('fonts/LexendDeca-Regular.ttf');
}
body{
    background: hsl(233, 47%, 7%);
}
#flex{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#wrap{
    display: block;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
    float: right;
    position: absolute;
    width: 1115px;
    height: 450px;   
    border-radius: 10px 0px 0px 10px; 
    background-color:hsl(244, 38%, 16%);
}
.imagen{
    float: right;
    width:557px;
    height:450px;
    border-radius: 0px 10px 10px 0px; 
}
.clearfix{
    clear: both;
}

#main-info h1{
display: block;
color: white;
margin: 61px 658px 24px 78px;
font-size: 37px;
font-family:'Inter';
word-spacing: 1px;
font-weight: bolder;
}
#main-info span{
    color:  hsl(277, 64%, 61%);
}
#main-info p{
    font-family: 'Inter';
    font-weight: lighter;
    display: block;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    margin: 38px 651px 20px 79px;
    letter-spacing: 1px;
    word-spacing: -1px;
  line-height: 24px;
    text-align: justify;
    font-weight: lighter;
}

#second-info{
    font-family: 'LexendDeca';
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#second-info h5 {
    margin: 51px -10px 50px -22px;
    font-size: 24px;
    color:  hsl(0, 0%, 100%);
}
#second-info span{
    font-family: 'Inter';
    display: flex;
    text-align: end;
    margin-top: 13px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

